/* The header should have a background color, background image (using a local image), and padding */ 
header{
    
    
    background-image: url("gif/WH9.gif");
    opacity:0.8;
    background-repeat: no-repeat;
    background-size:100%;
    padding:3%;
}
h1{
    text-align: center;
    color:#ffffff;
    font-variant:small-caps;
    font-size: 50px;
}
h2{
    color: #0f1c37;
    font-size: 40px;
}
/* The body should have padding and margin */
body{
    padding:1%;
    margin:1%;
    background-color:#5271ff;
    background-image:url("images/bg2.png");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
}
/* The navigation links (and only the links in the navigation) should be styled with a new display, margin, border-radius, text-decoration, and padding */
nav a{
    
    display:inline-block;
    margin:0% 5% 0% 5%;
    padding: 2% 5%;
    text-decoration:none ;
    border-radius: 9%;
    color:black;
    font-weight: bold;
    background-color:#ffffff;
    
    
    
}

/*The link to the current page should be styled differently from the other links (using class = "active') */
nav a:hover{
	color: #f109a4;
    background-color:gray;
    opacity: 0.8;
			
}


/*The sections should be next to each other, not one on top of the other.*/
section{
    display:inline-block;
}

/*The images should be part of the page now. In addition, they should have a border, be centered horizontally, and have vertical (top/bottom) space between them and the other images.*/

.right{
    display: inline-block;
    width:90%;
    padding:2%;
}
img{
    border:solid 2px #000000;
    width:80%;
    margin:5% 10%;
}
p,b{
    font-size: 20px;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    
}
h3{
    font-size: 30px;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
li{
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 20px;
}
button{
    color: #ffffff;
    background-color:#172243;
    opacity:0.8;
    margin:0 35%;
    padding:2% 5%;
    border-color: black;
}
button:hover{
	color: #0947f1;
    background-color: rgb(238, 238, 238);
    opacity:1;
			
}
